<p id="notice"><%= notice %></p>

<h1>Users</h1>
<h4><%= link_to 'New User', new_user_path %></h4>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Favorite genre</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= genre_name(user.book_genre_id) %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure? This will delete all rent records for this user.' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
