<h1>Good Morning, <br/> <br/> welcome to the Old Library!</h1>
<br/>
<table>
  <caption>
    <h2>Current Borrowed Books:</h2>
  </caption>
  <thead>
    <tr>
      <th>Book Name</th>
      <th>Borrowed By</th>
      <th>Borrow Date</th>
      <th>Return Date</th>
      <th>Days Remaining</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= link_to rental.book.name, book_path(rental.book.id) %></td>
        <td><%= link_to rental.user.first_name, user_path(rental.user.id) %></td>
        <td><%= rental.borrow_date %></td>
        <td><%= rental.return_date %></td>
        <td><%= days_remaining(rental.return_date) %></td>
        <td><%= link_to 'Show', rental %></td>
        <td><%= link_to 'Edit', edit_rental_path(rental) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
