<%= form_with(model: rental) do |form| %>
  <% if rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
        <% rental.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.select :book_id, @books.collect { |book| [book.name, book.id] } %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.select :user_id, @users.collect { |user| [user.first_name, user.id] } %>
  </div>

  <div class="field">
    <%= form.label :return_date %>
    <%= form.date_select :return_date %>
  </div>

  <%= form.hidden_field :borrow_date %>
  <%= form.hidden_field :returned %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
