<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Available:</strong>
  <%= @book.available %>
</p>

<p>
  <strong>Book genre:</strong>
  <%= @book.book_genre_id %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure? This will delete all rent records for this book.' } %> |
<%= link_to 'Back', books_path %>
