<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__items">
        <%= link_to root_path, class: 'header__logo' do %>
          <%= image_tag 'library-horizontal.jpg', alt: 'the old library horizontal logo.' %>
        <% end %>
        <div class="header__buttons">
          <%= link_to 'Home', root_path %>
          <%= link_to 'Book List', books_path %>
          <%= link_to 'Users', users_path %>
          <%= link_to 'All Borrowings', rentals_path %>
        </div>
      </div>
    </header>
    <div class="mobile-buttons">
      <%= link_to 'Home', root_path %>
      <%= link_to 'Books', books_path %>
      <%= link_to 'Users', users_path %>
      <%= link_to 'Borrowings', rentals_path %>
    </div>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
